body {
  font-family: 'Calligraffitti', cursive;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  text-align: center;
}

/* HEADER */

header {
  border: 5px solid #eaeaea;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

header .photoTim img {
  border-radius: 100%;
}

header .nom h1 {
  color: red;
}

header .nom h3 {
  color: #7d7e7e;
}

header .description {
  color: #909090;
  padding: 10px;
  text-align: left;
}

header .seeForYourself p {
  display: inline;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  background-color: red;
}

header .seeForYourself p a {
  color: white;
  text-decoration: none;
}

/* SECTION */

section {
  background-color: white;
  border: 5px solid #eaeaea;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section ul li i {
  filter: grayscale(100%);
}

section ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
}

section ul li i {
  padding-left: 10px;
  padding-right: 10px;
}

section ul li a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #cccccc;
}

/* MAIN */

main {
  position : relative;
  background-color: white;
  border: 5px solid #eaeaea;
  border-radius: 10px;
  padding: 20px;
  height: 750px;
}

main .titreMain {
  color: #7e7d7d;
  margin-bottom: 45px;
}

main p {
  text-align: left;
  width: 75%;
  margin-left: 25%;
}

main h4 {
  text-align: center;
  width: 75%;
  margin-left: 25%;
}

main .photoStanley img {
  position: absolute;
  top:120px;
  left:35px;
}

main .descriptionStanley {
  color: #878386;
  padding-bottom: 30px;
}

main .photoVacances img {
  position: absolute;
  top:340px;
  left:35px;
}

main .descriptionVacances {
  color: #878386;
  padding-bottom: 30px;
}

main .photoAlien img {
position: absolute;
top:570px;
left:35px;
}

main .descriptionAlien {
  color: #878386;
}
