body {
  margin: 0;
  background: -webkit-linear-gradient(90deg, rgb(122, 50, 12), rgb(146, 112, 93));
  background: linear-gradient(90deg, rgb(122, 50, 12), rgb(146, 112, 93));
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.navigation_des_langues li {
  display: inline;
  float: right;
  padding-right: 20px;
  margin-bottom: 10px;
}

.navigation_des_langues a {
  color: white;
  text-decoration: none;
}

.navigation_du_langue a:hover {
  background-color: shotpink;
}

main {
  /* background-color: white;
   opacity:0.8;
  border: 2px solid white;
  border-radius: 5px; */
}

.container {
  display: inline-block;
  background-color: white;
  /* opacity:0.8; */
  border: 2px solid white;
  border-radius: 5px;
}

header{
  /* display: inline; */
  /* width: 100%; */
  margin-bottom: 10px;
  /* border: 2px solid white;
  border-radius: 5px; */
}

.logo{
  display: inline-block;
  position: absolute;
  top: 50px;
  width: 15%;
}

.couverture_dog {
  width: 100%;
}

.navigation_du_site ul {
  float: left;
  margin-right: 20px;
  border: 2px outset black;
  padding-right: 25px;

}

.navigation_du_site li {
  padding-bottom: 10px;
  padding-top: 15px;
  list-style: none;
}
.navigation_du_site a {
  font-family: cursive  ;
  font-size: 0.8em;
  color: grey;
  font-weight: bold;
}

.navigation_du_site a:link {
    text-decoration: none;
}

section {

  width: 70%;
  float: right;
}

.english_paragraph {
  font-weight: bold;
  font-size: 12px;
}

.MainParagraph {
  text-align: justify;
  margin-right: 10px;

}

blockquote {
  background-color: #ffd480;
  border: 1px solid #cc8800;
  padding: 2px 5px 5px 30px;
}

.dog {
  float: right;
  margin-left: 10px;
}

.video_sdrb {
  float: right;
}

footer {

}
